<article class="article">
    <div class="big-logo">
        LEAN
    </div>
    <p>Hello, I'm Lean!</p>
    <p>当然这是我的英文名字。</p>
    <p>因为它对我来说有特别的意义，在发音上。</p>
    <h3 id="why-red-">Why red?</h3>
    <p>红色是我最喜欢的颜色了。</p>
    <h3 id="-">博客。。。</h3>
    <p>我很喜欢写东西, 多半是计算机相关的笔记积累;</p>
    <p>也还有一些有趣的技术探究和个人感想;</p>
    <p>他们散落在我的电脑的各个地方, 但都是没有写完就躺在那里了~</p>
    <p>嗯, 我要整理了!</p>
    <p>借助这次机会, 把每个文章都重新梳理一遍。。。</p>
    <h3 id="-">我。。。</h3>
    <p>男，好吧，宅男。</p>
    <p>微博：大-Bin</p>
    <h1 id="python">Python</h1>
    <h1 id="-">后端</h1>
    <h3 id="-">大爱动漫</h3>
    <p>热血激情，天下无敌，三观不正，悬疑恐怖的。。。</p>
    <p>《hellsing》</p>
    <p>
        <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1532108118457&amp;di=1c0695ffe175617a0cdc8ba4570851f4&amp;imgtype=0&amp;src=http%3A%2F%2Fimage.uczzd.cn%2F1245753912926161514.jpg%3Fid%3D0"
            alt="图片">
    </p>
    <h3 id="-">大爱游戏</h3>
    <p>喜欢玩游戏，但是只喜欢玩LOL啊。</p>
    <p>《Jinx》</p>
    <p>
        <img src="http://att.bbs.duowan.com/forum/201502/05/141527mj12f2rdc1drm11w.jpg" alt="Jinx">
    </p>
    <h3 id="-">开始喜欢看电影， 小清新的</h3>
    <p>《怦然心动》 </p>
    <p>我觉得相见恨晚啊！！！感动！！！主要是喜欢女主。。。</p>
    <p>有些人会渐露平庸，有些人会小有所成，还有些人会出类拔萃，但你偶尔才能遇上一个，光彩夺目的人，当你真正遇到这一刻，才能明白其中的美好。</p>
    <p>
        <img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1532108406952&amp;di=aba364393354183d38270ba556a55c17&amp;imgtype=0&amp;src=http%3A%2F%2Fs7.sinaimg.cn%2Fbmiddle%2F809f1f1d4a4b752954d36%26690"
            alt="怦然心动">
    </p>
    <h3 id="-">从小喜欢看散文书</h3>
    <p>现在也喜欢看，但是静不下来，拿起书，就没了看散文的心情。</p>
    <p>因爱散文中没有批判，没有杂念，只要生活的趣事，生活的感想</p>
    <p>《罗兰散文》</p>
    <p>叔叔送的，从小学到现在大学毕业依然带着，虽然感觉没有三毛等那么出名，但给我感觉很舒服～</p>
    <p>
        <img src="https://note.youdao.com/yws/api/personal/sync?method=download&amp;fileId=fbfd46d87996d165bae0a4b37991a545&amp;version=3436&amp;cstk=s_Qnf8NN&amp;keyfrom=web"
            alt="罗兰散文">
    </p>
    <h3 id="-">偶像鲁迅</h3>
    <p>我算是很正义的人啦！哈哈哈。</p>
    <p>起码我的梦想是像鲁迅一样，救人。感觉自己没有鲁迅那么强硬，差了点。。。</p>
    <h3 id="-">一堆爱好，没有学好</h3>
    <p>学过一丢丢breaking，一会就放弃了</p>
    <p>学过一丢丢guitar，一会就放弃了</p>
    <p>学过一丢丢口琴，一会就放弃了</p>
    <p>还是不能坚持一些好的爱好～但是的确爱好广。。。</p>
    <h3 id="-">喜欢猫咪</h3>
    <p>室友要养猫，我原本喜欢狗。</p>
    <p>但是发现猫咪好可爱啊！！！</p>
    <p>照顾不当，木瓜和冬瓜逝世了。内疚！</p>
    <p>现在的两个主子是汤汤和圆圆～ </p>
    <p>
        <img src="https://note.youdao.com/yws/api/personal/sync?method=download&amp;fileId=9daeae6489b2ab6ad7af8aea6d96d158&amp;version=3438&amp;cstk=s_Qnf8NN&amp;keyfrom=web"
            alt="汤圆两兄妹">
    </p>
    <h1 id="-">努力爱生活，为理想燃烧殆尽！！！</h1>
    <p>互勉～</p>

</article>