<article class="article">
    <br>
    <h3 id="-">我</h3>
    <p>宅男 Python 后端</p>
    <p>邮箱: 15622342848@163.com</p>
    <p>Lean 是我的英文名字, 特别的意义</p>
    <p>红色是我最喜欢的颜色了。</p>
    <h3 id="-">博客</h3>
    <p>我很喜欢写东西, 多半是计算机相关的笔记积累;</p>

    <h3 id="-">大爱动漫</h3>
    <p>最爱《hellsing》</p>
    <p>
        <img src="static/images/akado.jpeg" alt="alucard">
    </p>
    <h3 id="-">大爱游戏</h3>
    <p>只爱LOL</p>
    <p>
        <img src="static/images/jinx.jpg" alt="Jinx">
    </p>
    <h3 id="-">喜欢看电影</h3>
    <p>最爱《怦然心动》 </p>
    <p>有些人会渐露平庸，有些人会小有所成，还有些人会出类拔萃，但你偶尔才能遇上一个，光彩夺目的人，当你真正遇到这一刻，才能明白其中的美好。</p>
    <p>
        <img src="static/images/goddess.jpeg" alt="怦然心动">
    </p>
    <h3 id="-">从小喜欢看散文书</h3>
    <p>现在也喜欢看，但是静不下来，拿起书，就没了看散文的心情。</p>
    <p>因爱散文中没有批判，没有杂念，只要生活的趣事，生活的感想</p>
    <p>《罗兰散文》</p>
    <p>
        <img src="static/images/luolan.jpg" alt="怦然心动">
    </p>
    <h3 id="-">偶像鲁迅</h3>
    <h3 id="-">一堆爱好，没有学好</h3>
    <p>学过一丢丢breaking，一会就放弃了</p>
    <p>学过一丢丢guitar，一会就放弃了</p>
    <p>学过一丢丢口琴，一会就放弃了</p>
    <h3 id="-">喜欢猫咪</h3>
    <p>汤汤和圆圆～ </p>
    <p>
        <img src="static/images/tangyuan.jpg" alt="怦然心动">
    </p>
    <h1 id="-">努力爱生活，为理想燃烧殆尽！！！</h1>
    <p>互勉～</p>

</article>