<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title> Lean's Blog </title>
  <link rel="stylesheet" type="text/css" href="../static/code.css">
  <link rel="shortcut icon" href="../static/images/lean-logo.png" type="image/x-icon">
  <script src="../static/jquery-3.3.1.js"></script>
  <script>
    $(document).ready(function () {
      $("#btn2").click(function () {
        $(".menu").slideToggle(1000);
      });
    });
  </script>
</head>

<body>
  <div class="menu">
    <div class="display-home">
      <a href="#" class="lean-home">
        <img src="../static/images/lean-logo1.png" alt="主页" class="lean-logo-img" />
        <img src="../static/images/lean-white.png" class="lean-logo-img1" />
      </a>
    </div>
    <div class="display-label">
      <button class="menu-btn">分类</button>
      <div class="display-menu">
        <div class="menu-btn2">计算机网络</div>
        <div class="menu-btn2">python</div>
        <div class="menu-btn2">javascript</div>
      </div>
    </div>
    <div class="display-label">
      <button class="menu-btn">首页</button>
    </div>
    <div class="display-label">
      <button class="menu-btn">博文</button>
    </div>
  </div>
  <h1 id="welcome"> Welcome to Lean's Blog！</h1>
  <h2>
    <p style="background-color:green"> Think twice! Code Once! </p>
  </h2>
  <div class="green">
    <div class="red">
      <div class="pink">
        <img src="../static/images/code.png" alt="Hey Man Lean!" class="img1">
      </div>
    </div>
  </div>
  <div>
    <button id="btn2" class="btn2">Toggle</button>
</body>

</html>