<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title> Welcome to Lean's Blog </title>
	</head>

	<body>
		<div style="width:500px;height:250px;">
						<div style="background-color:orange;">
									<h1 style="margin-bottom:0;"> Main Title of Web Page </h1>
						</div>
						<div style="background-color:#FFD700;float:left;width:100px;height:200px;">
								<b>Menu</b><br>
								HTML<br>
								CSS<br>
								JavaScript<br></div>
						<div>Content goes here</div>
						<div style="background-color:orange;text-align:center;clear:both;">
							Copyright © W3Cschools.com
						</div>
		</div>
	</body>
</html>



