[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"autopep8" = "*"

[packages]
flask-script = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-migrate = "*"
flask-restful = "*"
flask-admin = "*"

[requires]
python_version = "3.5"
