[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask-script = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-migrate = "*"

[requires]
python_version = "3.5"
