{{ extend "home.html" }}
{% block content %} 
<div class="container" style="background-color: white; min-height: 100vh; padding: 20px 50px; font-size: 18px;">
    <div class="row">
        <div class="col-sm-12">
            <article>
                <div class="text-center">
                    <h2>学会坚持
                        <small>不浮不躁, 稳步向前!</small>
                    </h2>
                    <div>
                        <small class="text-muted">作者: {{ username }}</small>
                    </div>
                    <div>
                        <small class="text-muted">{{ date_time }}</small>
                    </div>
                </div>
                <hr>
                <p>实现梦想, 勇往直前!</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}