<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN</title>
    <link type="image/x-icon" rel="shortcut icon" href="static/images/logo.png">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <a href="/" class="logo-link">
                <span>LEAN</span>
            </a>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archives">ARCHIVE</a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories">CATEGORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="active">ABOUT</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="container">
            <article class="article">
                <div class="big-logo">
                    LEAN
                </div>
                <p>Hello, 我是 Lean!</p>
                <p>当然这只是我的英文名~</p>
                <p>因为这英文名对我有些意义, 在发音上!</p>
                <p>Why red?</p>
                <p>这是我最喜欢的颜色!!!</p>
                <p>哦, 博客?</p>
                <p>我很喜欢写东西, 多半是计算机相关的笔记积累;</p>
                <p>也还有一些有趣的探究和个人感谢;</p>
                <p>他们散落在我的电脑的各个地方, 但都是没有写完就躺在那里了~</p>
                <p>嗯, 我要整理了!</p>
                <p>借助这次机会, 把每个文章都重新梳理一遍, 去掉废话...</p>
                <p>Record my code! Record my life!</p>
                
            </article>
        </section>
        <footer>
            <div class="copyright">
                <p>
                    © 2018 LEAN'S BLOG, powered by LEAN
                </p>
            </div>
        </footer>
    </div>
</body>

</html>