<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN</title>
    <link type="image/x-icon" rel="shortcut icon" href="static/images/logo.png">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <a href="/" class="logo-link">
                <span>LEAN</span>
            </a>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archives" class="active">ARCHIVE</a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories">CATEGORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">ABOUT</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="container">
            <div class="archive">
                {% for archive in archives %}
                <div class="archive-item">
                    <h2 class="archive-title">{{ archive.date }} ...</h2>
                    {% for post in archive.posts %}
                    <div class="archive-post-item">
                        <div class="archive-post-info">{{ dtimeformat(post.create_time) }}</div>
                        <a class="archive-post-title-link" href="/posts/{{ post.id }}">{{ post.title }}</a>
                    </div>
                    {% endfor %}
                </div>{% endfor %}
            </div>
        </section>
        <footer>
            <div class="copyright">
                <p>
                    © 2018 LEAN'S BLOG, powered by LEAN
                </p>
            </div>
        </footer>
    </div>
</body>

</html>