<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN</title>
    <link type="image/x-icon" rel="shortcut icon" href="static/images/logo.png">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <a href="/">
                <span class="logo-link">LEAN</span>
            </a>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archives">ARCHIVE</a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories" class="active">CATEGORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">ABOUT</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="container">

        </section>
        <footer>
        </footer>
    </div>
</body>

</html>