<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN-EDITOR</title>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.png">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/editor.css">
    
</head>

<body>
    <div class="sidebar">
        <div class="hd">
            <div class="create">
                <span class="create-icon">+</span>
                <span class="create-text">新文档</span>
            </div>
        </div>
        <div class="category-header">
            <span>文集列表</span>
            <button class="create-category">+</button>
        </div>
        <ul class="sidebar-item">
            <li>
                <label for="c1" class="category-label">文集1
                    <span class="delete-category">×</span>
                </label>
                <input type="checkbox" name="c1" id="c1" value="1">
                <ul class="sidebar-list">
                    <li>
                        <div cid=1>文章1</div>
                    </li>
                    <li>
                        <div cid=2>文章1</div>
                    </li>
                    <li>
                        <div cid=3>文章1</div>
                    </li>
                </ul>
            </li>
            <li>
                <label for="c2" class="category-label active">文集1
                    <span class="delete-category">...</span></label>
                <input type="checkbox" name="c2" id="c2" value="2">
                <ul class="sidebar-list">
                    <li>
                        <div cid=1>文章1</div>
                    </li>
                    <li>
                        <div cid=2>文章1</div>
                    </li>
                    <li class="active">
                        <div cid=3>文章1</div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>