{% extends "home.html" %} {% block scripts %} {{ super() }}
<script>
    var post_id = /articles\/(\d+)/.exec(window.location.href);
    var editorLoaded = false;
    $("Document").ready(function () {
        if (editorLoaded) {
            return
        }
        $.ajax({
            url: "articles/" + post_id,
            type: "get",
            dataType: "json",
            success: function (data, status) {
                if (data.code == 200) {
                    $("#articleTitle").val(data.title);
                    $("#editor").val(data.md_content);
                }
            }
        });
        editorLoaded = true;
    });
    $("#editor").markdown({
        autofocus: true,
        savable: false,
        onSave: function (e) {
            var md_content = e.getContent();
            var html_content = e.parseContent();
            var html_title = $("#articleTitle").val();
            $.ajax({
                url: "articles/" + post_id,
                type: "post",
                data: {
                    title: html_title,
                    content: html_content,
                    md_content: md_content
                },
                dataType: "json",
                success: function (data, status) {
                    $("#saveInfo").text(data.message);
                }
            });
        }
    });
</script>
{% endblock %} {% block azone %}
<form id="mdForm">
    <div class="form-group">
        <input class="form-control" type="text" name="articleTitle" id="articleTitle" placeholder="标题">
    </div>
    <textarea id="editor" data-provide="markdown" data-savable="true" rows="50"></textarea>
</form>
<small class="text-info" id="saveInfo"></small>
{% endblock %}