{% extends "bootstrap/base.html" %}{% block title %}Lean's Blog{% endblock %} {% block head %} {{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/lean-logo.png') }}" type="imgae/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hightlight.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/hightlight.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
{% block scripts %}
<script>
    hljs.initHighlightingOnLoad();
</script>
<script>
    function timestamp2Date(timestamp) {
        var createTime = new Date(timestamp * 1000);
        return createTime.toLocaleDateString();
    }
    var isLoaded = false;
    $("Document").ready(function () {
        if (isLoaded) {
            return;
        }
        var sessionUrl = '/api/v1/session';
        var storage = window.localStorage;
        var setLoginText = function () {
            var nickname = $.cookie("nickname");
            var loginText, createLiText;
            if (nickname) {
                loginText = nickname + "," +
                    "<a href='#' id='logoutLink' style='text-decoration: underline;'>登出</a>";
                createLiText = "<a href='#' id='createLink'><strong>创作</strong></a>";
                $("#articleLi").html("<a href='/my-articles'><strong>我的文章</strong></a>");
            } else {
                loginText =
                    "<a href='#' id='loginLink' data-toggle='modal' data-target='#loginModal' style='text-decoration: underline;'>登录</a>";
                createLiText = "";
            }
            $("#loginText").html(loginText);
            $("#loginText").append($("#loginLink").click(function () {
                $("#loginWarnText").text("");
                var email = storage.email;
                $("#email").val(email);
            }));
            $("#loginText").append($("#logoutLink").click(function () {
                $.ajax({
                    type: "delete",
                    url: sessionUrl,
                    dataType: "json",
                    success: function (data, status) {
                        if (data.code != 200) {
                            alert("退出登录失败, 请稍后重试!");
                        } else {
                            window.location.reload();
                        }
                    }
                });
            }));
            $("#createLi").html(createLiText);
            $("#createLi").append($("#createLink").click(function () {
                $.ajax({
                    type: "post",
                    url: "/api/v1/articles",
                    dataType: "json",
                    success: function (data, status) {
                        if (data.code != 200) {
                            alert("创建文章失败, 请稍后重试!");
                        } else {
                            var articleId = data.id;
                            window.location.href = "/articles/" + articleId +
                                "/write";
                        }
                    }
                });
            }));
        };
        setLoginText();
        $("#loginBtn").click(function () {
            var pwd = $("#password").val();
            var email = $("#email").val();
            $.ajax({
                type: "post",
                url: sessionUrl,
                data: $("#loginForm").serialize(),
                dataType: "json",
                cache: false,
                beforeSend: function () {
                    if (!email) {
                        $("#loginWarnText").text("邮箱不能为空!");
                        return false;
                    }
                    if (!pwd) {
                        $("#loginWarnText").text("密码不能为空!");
                        return false;
                    }
                },
                success: function (data, status) {
                    if (data.code != 200) {
                        $("#loginWarnText").text(data.message);
                    } else {
                        if (storage.email != email) {
                            storage.email = email;
                        }
                        setLoginText();
                        $("#password").val("")
                        $("#loginModal").modal("hide");
                    }
                }
            });
        });
        isLoaded = true;
    });
</script>
{% endblock %} {% endblock %} {% block navbar %}
<div class="container" style="background-color: white;">
    <div class="jumbotron" style="padding-bottom: 10px; padding-top: 20px; margin: 15px 0 0 0; background-color: rgb(31, 207, 207)">
        <img src="{{url_for('static', filename='images/lean-logo.png')}}" class="image-circle img-responsive pull-left" alt="#" style="width: 80px; height: 80px;">
        <h1>Lean's Blog</h1>
        <p>横眉冷对千夫指, 俯首甘为孺子牛！</p>
        <small class="text-muted">昨天</small>
        <span class="label label-warning">迷茫</span>
        <small class="text-muted">今天</small>
        <span class="label label-info">努力</span>
        <small class="text-muted">明天</small>
        <span class="label label-success">收获</span>
        <hr>
        <div>
            <ul class="list-inline">
                <li>
                    <a href="/">
                        <strong>首页</strong>
                    </a>
                </li>
                <li>
                    <a href="#/aboutme">
                        <strong>关于我</strong>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <strong>分类</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            编程语言
                        </li>
                        <li>
                            <a href="#">python</a>
                            <a href="#">javascript</a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            编程原理
                        </li>
                        <li>
                            <a href="#">计算机网络</a>
                            <a href="#">系统原理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <strong>杂文</strong>
                        <span class="badge">{{ update_count }}</span>
                    </a>
                </li>
                <li id="createLi"></li>
                <li id="articleLi"></li>
                <li class="pull-right">
                    <span id="loginText"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabIndex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center" id="loginModalLabel">
                    用户登录
                </h4>
            </div>
            <div class="row modal-body" style="padding-top: 5px;">
                <div class="col-md-10 col-md-offset-1">
                    <form class="form" method="POST" id="loginForm">
                        <div style="height: 20px;">
                            <small class="text-danger" id="loginWarnText"></small>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" id="email" placeholder="请输入邮箱">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="password" placeholder="密码">
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <button type="button" class="btn btn-info" id="loginBtn">登录</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container" style="background-color: white; padding: 20px 20px; font-size: 18px; min-height: 79vh;">
    {% block azone %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <article>
                {% block article %}
                <div class="text-center">
                    <h2>博客简介</h2>
                </div>
                <hr>
                <p>这是我学习web开发的一个博客!</p>
                {% endblock %}
            </article>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}