{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Lean's Blog{% endblock %} {%
block head %} {{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='images/lean-logo.png') }}" type="imgae/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script>
    $(document).ready(function () {
        $("#loginBtn").on("click", function () {
            $("#loginForm").ajaxSubmit({
                beforeSubmit: function () {
                    var email = $("#email").val();
                    var password = $("#password").val()
                },
                url: "/login",
                async: false,
                dataType: "json",
                type: "POST",
                success: function (data, status) {
                    var data = JSON.parse(data);
                    if (data.code != 200) {
                        $("#loginWarnText").val(data.message);
                    }
                    else {
                        window.location.reload();
                    }
                },
                data: {
                    email: $("#email").val(),
                    password: $("#password").val(),
                    remember_me: $("#remember_me").val()
                }
            });
            return false;
        });
    });
</script>
{% endblock %} {% block navbar %}
<div class="container" style="background-color: white;">
    <div class="jumbotron" style="padding-bottom: 10px; padding-top: 20px; margin: 15px 0 0 0; background-color: rgb(31, 207, 207)">
        <img src="{{url_for('static', filename='images/lean-logo.png')}}" class="image-circle img-responsive pull-left" alt="#" style="width: 80px; height: 80px;">
        <h1>Lean's Blog</h1>
        <p>横眉冷却千夫指, 俯首甘为孺子牛！</p>
        <small class="text-muted">昨天</small>
        <span class="label label-warning">迷茫</span>
        <small class="text-muted">今天</small>
        <span class="label label-info">努力</span>
        <small class="text-muted">明天</small>
        <span class="label label-success">收获</span>
        <hr>
        <nav class="nav">
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <strong>关于我</strong>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <strong>目录</strong>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <strong>更多</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            编程语言
                        </li>
                        {% for p_name in p_names %}
                        <li>
                            <a href="#">{{ p_name }}</a>
                        </li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li class="dropdown-header">
                            编程原理
                        </li>
                        <li>
                            <a href="#">计算机网络</a>
                            <a href="#">系统原理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <strong>更新</strong>
                        <span class="badge">{{ update_count }}</span>
                    </a>
                </li>
                <li class="pull-right">
                    {% if current_user.is_active %}
                    <span>{{ current_user.nickname }},
                        <a href="{{ url_for('auth.logout') }}">登出</a>
                    </span>
                    {% else %}
                    <a href="#" data-toggle="modal" data-target="#loginModal">登录</a>
                    <div class="modal fade" id="loginModal" tabIndex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="loginModalLabel">
                                        用户登录
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form" method="POST" id="loginForm">
                                        <div class="form-group">
                                            {{ login_form.email.label }}
                                            <small class="text-danger" id="loginWarnText">{{ error_message }}</small>
                                            {{ login_form.email(class="form-control", id="email", placeholder="请输入邮箱") }}
                                        </div>
                                        <div class="form-group">
                                            {{ login_form.password.label }} {{ login_form.password(class="form-control", id="password", placeholder="密码") }}
                                        </div>
                                        <div class="form-inline">
                                            {{ login_form.remember_me(class="checkbox", id="remember_me") }} {{ login_form.remember_me.label }}
                                        </div>
                                            {{ login_form.submit(class="btn btn-info", id="loginBtn") }} {{ login_form.csrf_token }}
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container" style="background-color: white; min-height: 100vh; padding: 20px 50px; font-size: 18px;">
    <div class="row">
        <div class="col-sm-12">
            <article>
                <div class="text-center">
                    <h2>学会坚持
                        <small>不浮不躁, 稳步向前!</small>
                    </h2>
                    <div>
                        <small class="text-muted">作者: {{ username }}</small>
                    </div>
                    <div>
                        <small class="text-muted">{{ date_time }}</small>
                    </div>
                </div>
                <hr>
                <p>实现梦想, 勇往直前!</p>
            </article>
        </div>
    </div>
</div>
{% endblock %}