<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN</title>
    <link type="image/x-icon" rel="shortcut icon" href="static/images/logo.png">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <a href="/" class="logo-link">
                <span>LEAN</span>
            </a>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="active">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archives">ARCHIVE</a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories">CATEGORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">ABOUT</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="container">
            <h1 class="section-title">Latest ...</h1>
            <ul class="post-list">
                {% for post in articles %}
                <li class="post-item">
                    <article>
                        <h1>
                            <a href="/posts/{{ post.id }}" class="post-title-link">
                                {{ post.title }}
                            </a>
                        </h1>
                        <div class="post-info">
                            {{ dtimeformat(post.create_time) }}
                        </div>
                        <div class="post-content">
                            {{ post.html|safe }}
                        </div>
                        <a href="/posts/{{ post.id }}" class="post-read-more">
                            ...more
                        </a>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
        <footer>
            <div class="copyright">
                <p>
                    © 2018 LEAN'S BLOG, powered by LEAN
                </p>
            </div>
        </footer>
    </div>
</body>

</html>