<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN</title>
    <link type="image/x-icon" rel="shortcut icon" href="static/images/logo.png">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <a href="/">
                <span class="logo-link">LEAN</span>
            </a>
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="active">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="/archives">ARCHIVE</a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories">CATEGORY</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about">ABOUT</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="container">
            <h1 class="section-title">Latest ...</h1>
            <ul class="post-list">
                {% for post in articles %}
                    {% include "components/post-item.html" %}
                {% endfor %}
            </ul>
        </section>
        <footer>
        </footer>
    </div>
</body>

</html>