{% extends "home.html" %} {% block scripts %} {{ super() }}
<script>
    var listLoaded = false;
    $("Document").ready(function () {
        var nickname = $.cookie("nickname");
        if (!nickname) {
            window.location.href = "/";
        }
        if (listLoaded) {
            return;
        }
        var setEmptyHtml = function () {
            $("#articleListEmpty").removeClass("hidden");
        };
        $.ajax({
            url: "/api/v1/articles",
            type: "get",
            dataType: "json",
            data: {
                offset: 0,
                limit: 10
            },
            success: function (data, status) {
                if (data.code != 200) {
                    console.log(status);
                    setEmptyHtml();
                } else {
                    var $articleList = $("#articleList");
                    var articleListData = data.list;
                    var listLength = articleListData.length;
                    if (!listLength) {
                        setEmptyHtml();
                    } else {
                        var articleListHtml = $("#articleTemplate").html();
                        for (var i = 0; i < listLength; i++) {
                            var article = articleListData[i];
                            $articleList.append(articleListHtml);
                            var $newArticle = $articleList.children("[name=articleBox]:last");
                            $newArticle.attr("aid", article.id);
                            var $articleTitle = $newArticle.find("[name=articleTitle]");
                            $articleTitle.text(article.title);
                            $articleTitle.attr("href", "/articles/" + article.id + "/read");
                            $newArticle.find("[name=articleCreateTime]").text(timestamp2Date(
                                article.create_time));
                            var aHtml = article.html;
                            var $articleHtmls = $newArticle.find("[name=articleHtml]");
                            if (!aHtml) {
                                $articleHtmls.html("<p>什么都没有呀~写点什么吧!</p>");
                            } else {
                                $articleHtmls.html(article.html);
                            }
                            $newArticle.find("[name=articleAuthorLink]").text(article.author);
                            $newArticle.find("[name=articleViews]").text(article.view_count);
                        }
                        $articleList.find("[name=articleEdit]").click(function () {
                            var articleId = $(this).parents("[name=articleBox]").attr("aid");
                            window.location.href = "/articles/" + articleId + "/write";
                        });
                        $articleList.find("[name=articleDelete]").click(function () {
                            var articleId = $(this).parents("[name=articleBox]").attr("aid");
                            $.ajax({
                                url: "/api/v1/articles/" + articleId,
                                type: "delete",
                                dataType: "json",
                                success: function (data, status) {
                                    if (data.code != 200) {
                                        alert("删除失败, 请稍候重试!");
                                    } else {
                                        $articleList.children("[aid=" +
                                            articleId + "]").addClass(
                                            "hidden");
                                    }
                                }
                            });
                            return false;
                        });
                    }
                }
            },
            error: function () {
                setEmptyHtml();
            }
        });
        listLoaded = true;
    })
</script>
{% endblock %} {% block article %}
<div class="text-center">
    <h2>
        <span class="glyphicon glyphicon-leaf"></span id="articleCategory">Javascript
    </h2>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <hr>
    </div>
</div>
<div id="articleList">
    {% for article in articles %}
        {% include "components/item_content.html" %}
    {% endfor %}
</div>
{% endblock %}