<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LEAN</title>
    <link type="image/x-icon" rel="shortcut icon" href="/static/images/logo.png">
    <link type="text/css" rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <div class="center-wrap">
        <div class="middle-logo">LEAN</div>
        <form action="/login" method="POST">
            <!-- <input type="text" name="email" placeholder="邮箱"> -->
            <input type="password" name="password" placeholder="密码">
            <button type="submit">登录</button>
        </form>
    </div>
</body>
</html>