{% extends "home.html" %} 
{% block scripts %}
{{ super() }}
<script>
    function timestamp2Date (timestamp) {
        var createTime = new Date(timestamp * 1000);
        return createTime.toLocaleDateString();
    }
    var post_id = /articles\/(\d+)/.exec(window.location.href)[1];
    var articleUrl = "/api/v1/articles/" + post_id
    var articleLoaded = false;
    $("Document").ready(function () {
        if (articleLoaded) {
            return;
        }
        $.ajax({
            type: "get",
            url: articleUrl,
            dataType: "json",
            success: function (data, status) {
                $("#articleTitle").text(data.title);
                $("#articleAtuhor").text(data.author);
                $("#artcleCreateTime").text(timestamp2Date(data.create_time));
                if (!data.html) {
                    $("#articleHtml").html("<p>什么都没有呀~写点什么吧!</p>");
                } else {
                    $("#articleHtml").html(data.html);
                }
                
            }
        });
        articleLoaded = true;
    });
</script>

{% endblock %}
{% block article %}
<div class="text-center">
    <h2 id="articleTitle"></h2>
    <div class="text-muted">
        <small>作者: <strong class="text-primary label label-success" id="articleAtuhor"></strong></small>
        <small>创作于: <strong class="text-info" id="artcleCreateTime"></strong></small>
    </div>
</div>
<hr>
<div id="articleHtml"></div>
{% endblock %}