{% extends "home.html" %} 
{% block scripts %}
<script>
    var post_id = /articles\/(\d+)/.exec(window.location.href)[1];
    var articleUrl = "/api/v1/articles/" + post_id
    var articleLoaded = false;
    $("Document").ready(function () {
        if (articleLoaded) {
            return;
        }
        $.ajax({
            type: "get",
            url: articleUrl,
            dataType: "json",
            success: function (data, status) {
                $("#articleTitle").text(data.title);
                $("#articleAtuhor").text(data.username);
                var createTime = new Date(data.create_time * 1000);
                $("#artcleCreateTime").text(createTime.toLocaleDateString());
                $("#articleHtml").html(data.html);
            }
        });
        articleLoaded = true;
    });
</script>
{{ super() }}
{% endblock %}
{% block article %}
<div class="text-center">
    <h2 id="articleTitle"></h2>
    <div class="text-info">
        作者: <small id="articleAtuhor"></small>
    </div>
    <div class="text-warning">
        <small>创作于: <span id="artcleCreateTime"></span></small>
    </div>
</div>
<hr>
<div id="articleHtml"></div>
{% endblock %}